.overlay {
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    background: #00000057;
}

.modal {
    gap: 5px;
    padding: 30px;
    min-width: 500px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;

    & span {
        display: block;
        &:first-child {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 5px;
        }
        &:not(:first-child) {
            font-size: 14px;
            font-weight: 600;
            color: #6e6e6e;
        }
    }
}